@import url("/assests/header.css");
:root {
    --cor-fundo:        #EBECEE;
    --branco-padrao:    #FFFFFF;
    --cor-destaque:     #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
}
body{
    background-color: var(--cor-fundo);
}
