.contato {
    background-color: var(--branco-padrao);
    padding: var(--padding-padrao1em);
}
.contato__titulo, .contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.contato__titulo{
    font-weight: 500;
    font-size: 18px;
}
.contato__texto {
    font-weight: 300;
    padding: var(--padding-padrao1em) 0;
}
.contato__email{
    padding: var(--padding-padrao1em);
    background: transparent;
    border: 1px solid var(--destaque-azul);
    border-radius: var(--padrao-pixel24);
    width: 90%;
    color: var(--destaque-azul);
}
.contato__email::placeholder {
    font-family: var(--font-padrao);
    color: var(--destaque-azul);
    background: url("/img/Vector.svg") no-repeat;
    padding-left: 2em;   
}
/* versão tablet */
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .contato__titulo {
        font-size: var(--padrao-pixel24);
    }
    .contato__descrição {
        margin-right: 1em;
        width: 30%;
    }
    .contato__email {
        width: 30%;
    }
}
/*versão desktop*/
@media screen and (min-width: 1728px) {
    .contato { 
        padding: 3em 20vw;
    }
}