.cabeçalho{
    background-color: var(--branco-padrao);
    display: flex;
    justify-content: space-between;
    position: relative;  
}
.cabeçalho__menu-hamburguer {
    width: var(--padrao-pixel24);
    height: var(--padrao-pixel24);
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: var(--padding-padrao1em);
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%; 
    width: 60vw;                                                                                                                                                    
}
 .container__botao{ /*retirar se for ultilizar o botao  */
    display: none;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}
.lista-menu__titulo{
    color: var(--cor-destaque);
    font-weight: 700;
}
.lista-menu__titulo, 
.lista-menu__item {
    padding: var(--padding-padrao1em);
    background-color: var(--branco-padrao);   
}
.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;   
}
.container__titulo {
    display: none;
}
/* quando estiver abaixo do tamanho de 1024 o container titulo some */
.catainer__titulo {
    display: none;
}
.opções {
    display: none;
}
/* versão tablet */
@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
       font-family: var(--fonte-segundaria);
       font-size: 30px
    }
    .container__botao{
        display: none;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opções {
        display: flex;
        margin-top: 2.3em;
    }
    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opções__link {
        text-decoration: none;
        color: var(--preto-padrao);
    }
    .container__imagem-transparente {
        display: none;
    }
    .cabeçalho__menu-hamburguer {
        display: none;
    }
   .opções__botão:checked ~ .lista-menu {
        display: block;
        width: 15%;
    }
    .opções__botão {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto-padrao);
    }
    .container__texto {
        font-size: 20px;
        font-weight: 400;
    }
    
}